.col-lg-1  { width: 8.33333333%; }
.col-lg-2  { width: 16.66666667%; }
.col-lg-3  { width: 25%; }
.col-lg-4  { width: 33.33333333%; }
.col-lg-5  { width: 41.66666667%; }
.col-lg-6  { width: 50%; }
.col-lg-7  { width: 58.33333333%; }
.col-lg-8  { width: 66.66666667%; }
.col-lg-9  { width: 75%; }
.col-lg-10 { width: 83.33333333%; }
.col-lg-11 { width: 91.66666667%; }

.col-lg-vw-1  { width: 8.33333333vw; }
.col-lg-vw-2  { width: 16.66666667vw; }
.col-lg-vw-3  { width: 25vw; }
.col-lg-vw-4  { width: 33.33333333vw; }
.col-lg-vw-5  { width: 41.66666667vw; }
.col-lg-vw-6  { width: 50vw; }
.col-lg-vw-7  { width: 58.33333333vw; }
.col-lg-vw-8  { width: 66.66666667vw; }
.col-lg-vw-9  { width: 75vw; }
.col-lg-vw-10 { width: 83.33333333vw; }
.col-lg-vw-11 { width: 91.66666667vw; }

.dis-grid {
    display: grid;
}

.grid-row-10 {
    grid-gap: 10px;
}

.grid-row-20 {
    grid-gap: 20px;
}

.grid-row-30 {
    grid-gap: 30px;
}

.grid-row-40 {
    grid-gap: 40px;
}

.grid-col-lg-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-lg-2 {
    grid-template-columns: repeat(2, 2fr)
}

.grid-col-lg-3 {
    grid-template-columns: repeat(3, 3fr)
}

.grid-col-lg-4 {
    grid-template-columns: repeat(4, 4fr)
}

.grid-col-lg-5 {
    grid-template-columns: repeat(5, 5fr)
}

.grid-col-lg-6 {
    grid-template-columns: repeat(6, 6fr)
}

.flex-direction-col {
    flex-direction: column;
}

/*
.grid-col-md-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-md-2 {
    grid-template-columns: repeat(2, 2fr)
}

.grid-col-md-3 {
    grid-template-columns: repeat(3, 3fr)
}

.grid-col-md-4 {
    grid-template-columns: repeat(4, 4fr)
}

.grid-col-md-5 {
    grid-template-columns: repeat(5, 5fr)
}

.grid-col-md-6 {
    grid-template-columns: repeat(6, 6fr)
}
*/

/* columns with row */

/* other */

/* text politics */

.text-block p,
.text-block ul,
.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4,
.text-block img {
    margin-bottom: 20px;
    line-height: 1.35;
}

.text-block p:last-child,
.text-block ul:last-child,
.text-block li:last-child,
.text-block h1:last-child,
.text-block h2:last-child,
.text-block h3:last-child,
.text-block h4:last-child,
.text-block img:last-child {
    margin-bottom: 0;
}

.text-block a:not(.button) {
    text-decoration: underline;
    color: #dbdbdb;
}

.text-block li {
    position: relative;
    margin-bottom: 8px;
}

.text-block li:before {
    width: 15px;
    height: 2px;
    background: #C3AE90;
    top: 13px;
    left: -27px;
    position: absolute;
}

/* general */

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

input,
textarea {
    border-bottom: 1px solid rgba(0,0,0,.68);
    color: #000;
    padding: 9px 20px;
    width: auto;
    font-family: inherit;
    font-size: 20px;
    background: #fff;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #fff;
}

input[type='button'] {
    width: auto;
}

.button,
input[type='submit'] {
    cursor: pointer;
    background-image: url(../images/button/button-big.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: 50% 50%;
    padding: 22px 25px;
    color: #111;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    display: inline-block;
    position: relative;
    transition: all 150ms ease-in-out;
}

video {
    width: 100%;
}

.wrap {
    width: 85%;
}

.small-wrap {
    width: 750px;
}

.big-wrap {
    padding: 0 40px;
}

.dis-flex {
    display: flex;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.zindex-0 {
    z-index: 0;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.zindex-3 {
    z-index: 3;
}

.zindex-4 {
    z-index: 4;
}

.zindex-5 {
    z-index: 5;
}

.zindex-6 {
    z-index: 6;
}

.zindex-7 {
    z-index: 7;
}

.zindex-8 {
    z-index: 8;
}

.zindex-9 {
    z-index: 9;
}

.zindex-10 {
    z-index: 10;
}

.text-col-2 {
    column-count: 2;
}

.text-col-2 > p {
    display: inline-block;
    width: 100%;
}

/* grid system */

.overflow-hidden {
    overflow: hidden;
}

.large-text,
.text-block .large-text {
    font-size: 32px;
    line-height: 1.3;
}

.featherlight iframe {
    width: 1100px;
    height: 550px;
}