.front-hello-desc p {
    font-size: 20px;
    margin-bottom: 0;
}

#front-hello {
    padding: 60px 0;
    height: 85vh;
    padding-left: 90px;
}

.front-hello-image {
    margin-right: -90px;
}

.front-hello-title > * {
    font-size: 56px;
}

#front-hello .background-item-1 {
    top: 0;
    left: 0;
    width: 20vw;
    height: 50vh;
    background-image: url(../images/front/peper.png);
    background-position: left 50%;
}

#front-hello .background-item-2 {
    bottom: 20vh;
    right: 0;
    width: 18vw;
    height: 55vh;
    background-image: url(../images/front/kolos.png);
    background-position: right 50%;
}

#front-hello .background-item-3 {
    bottom: -20vh;
    left: 0;
    width: 20vw;
    height: 65vh;
    background-image: url(../images/front/muka.png);
    background-position: left 50%;
}

/* front-catalog */

#front-catalog .background-item-1 {
    top: 8vh;
    right: 0;
    width: 20vw;
    height: 65vh;
    background-image: url(../images/front/chesnok.png);
    background-position: right 50%;
}

#front-catalog .background-item-2 {
    bottom: -21vh;
    left: 0;
    width: 20vw;
    height: 65vh;
    background-image: url(../images/front/vetka.png);
    background-position: left 50%;
}

// how ot works

.how-it-works {
    .how-it-works-item {
        p {
            width: 80%;
            margin: auto;
        }
    }
}