[class*='background-item-'] {
	position: absolute;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}

// global
.add-to-cart {
	// display: inline-block;
	// display: flex;
	// align-items: center;
	// justify-content: flex-start;
    display: block;
	position: relative;
	width: 140px;
	margin: 10px auto;
	padding: 22px 41px 22px 25px;
	// text-align: left;
	color: #111;
	background: url(../images/katalog/cart_btn.svg) 50% 50% / contain no-repeat;
	cursor: pointer;
	transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&::after {
		content: " " attr(data-end);
        position: absolute;
        right: 30px;
        top: 18px;
        width: 20px;
        height: 20px;
        background: url(../images/katalog/cart.svg) center center no-repeat;
        background-size: 17px;
	}
    &:hover {
        transform: scale(1.1);
    }
}

// end global
.katalog-filter {
	li {
		margin: 0 10px;
		font-style: italic;
		cursor: pointer;

		&.active,
		&:hover {
			text-decoration: underline;
		}
	}
}

.katalog-item {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -16px;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/katalog/katalog_item_bg.svg) center center no-repeat;
		transform: scale(0);
		transition-delay: 100ms;
		transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&:hover::before {
		transform: scale(1.05);
	}
}
.katalog-item-image {
	position: relative;
	margin: 0 10px 10px;
    height: 290px;
	// padding: 10px;

	&::before {
		content: "";
		display: block;
		padding: 100% 0 0;
	}

    img {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: contain;
	}
}
.katalog-item-desc {
	padding-bottom: 12px;
	//border-bottom: 2px solid #121212;
	text-align: center;
}
.katalog-item-desc-title {
	margin-bottom: 10px;

	& > * {
		font-size: 24px;
	}
}
.katalog-item-desc-attr {
	display: flex;
	align-items: center;
	text-align: left;
    justify-content: center;
	& > * {
		//width: 33.33333%;
        margin: 0 10px;
	}
}
.katalog-item-desc-attr-weight,
.katalog-item-desc-attr-leight,
.katalog-item-desc-attr-type{
	padding: 8px 0 5px 25px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
.katalog-item-desc-attr-weight {
	background-image: url(../images/katalog/weight.svg);
}
.katalog-item-desc-attr-leight {
	background-image: url(../images/katalog/002-ruler.svg);
}
.katalog-item-desc-attr-type {
	background-image: url(../images/katalog/001-bread.svg);
}