/* global */

.black-block {
	color: #111;
}

.black-block a {
	color: #111;
}

// section paddings and margins

.section-padding-top {
    padding-top: 120px;
}

.section-padding-bottom {
    padding-bottom: 120px;
}

.section-margin-top {
    margin-top: 120px;
}

.section-margin-bottom {
    margin-bottom: 120px;
}

.section-padding-left {
    padding-left: 8.33333333vw;
}
 
.section-padding-left {
	padding-left: 50px;
}

.section-title {
    //margin-bottom: 20px;
    & > * {
        margin-bottom: 0 !important;
    }
    small {
        color: #8c8c8c;
        font-size: 16px;
        margin-top: -2px;
        display: block;
    }
    &.big {
        font-size: 28px;
    }
}

.block-black-info {
	position: absolute;
	left: 0px;
	background: #111;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2.5px;
	top: -25px;
	color: #fff;
	padding: 15px 20px;
}