@font-face {
	font-family: "blogger-sans";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/8848.eot");
	src: url("../fonts/8848.eot?#iefix") format("embedded-opentype"),
	url("../fonts/8848.ttf") format("truetype"),
	url("../fonts/8848.svg#codropsicons") format("svg");
}

a {
    color: black;
}

// scroll bar

::-webkit-scrollbar {
	width: 5px
}
::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #666
}
::-webkit-scrollbar-track {
	border-width: 0
}
::-moz-scrollbar {
	width: 5px
}
::-moz-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #444;
}
::-moz-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #666
}
::-moz-scrollbar-track {
	border-width: 0
}

// body and html general

html,
body {
	height: 100%;
}
html {
	font-family: "blogger-sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../images/pattern.png);
}
body {

}

.wow {
	opacity: 0;
}

// global


// header
.header-nav {
	li {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.header-nav a,
.header-phone a{
	color: #111;
}
.header-subscribe .button {
	background-size: 215px;
}
.header-meta {
    .header-meta-kabinet {
        background: url(../images/icons/user.svg) left center no-repeat #e5df6e;
        padding: 12px 15px 10px 48px;
        border-radius: 40px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #dcd878;
    }
}
.header-meta-cart {
	position: relative;
	cursor: pointer;

	&:active .header-cart-total-wrap, 
	&:focus .header-cart-total-wrap, 
	&:hover .header-cart-total-wrap {
		opacity: 1;
		transform: translate(0,0);
		visibility: visible;
        height: initial;
        pointer-events: all;
	}
}
.header-meta-cart-count {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: red;
	position: absolute;
	top: -14px;
	right: -14px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.header-cart-total-wrap {
	z-index: 2;
	position: absolute;
	width: 550px;
	top: 14px;
	right: 0;
	padding-top: 40px;
	right: 0;
	opacity: 0;
	transform: translate(0,30px);
	transition: all 300ms ease-in-out;
	visibility: visible;
    height: 0px;
    pointer-events: none;
}
.header-cart-wrap-box {
	padding: 30px;
	background: #eaeaea;
	border-radius: 10px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);

	& > div {
		width: 100%;
		display: inline-block;
	}
}
.header-cart-checkout-form-title {
	width: 100%;
	text-align: center;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
.header-cart-checkout-form {
	.button {
		background-image: url(../images/button/button-mid.svg);
		padding: 10px 35px;
	}
}
.header-cart-total {
	// .katalog-table-item {
	// 	&:last-child {
	// 		margin-bottom: 0;
	// 		padding-bottom: 0;
	// 		border: none;
	// 	}
	// }
}
.header-cart-total-footer-summ {
	margin-top: 20px;
}

// modal

.modalLogin * {
    font-family: "blogger-sans";
    box-sizing: content-box;
}
.modalLogin p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.modalLogin{
	width: 525px;
	height: 525px;
	margin: 0 auto;
	background-color: #ededed;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.modalLogin__headerWrapper{
	position: relative;
	padding:  20px 0px 20px 20px;
	display: flex;
	justify-content: flex-start;
}
.modalLogin__headerUserImg{
	width: 20px;
	height: 20px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	top:10px;
	left:10px;
}
.modalLogin__headerText{
	width: 300px;
	font-size: 22px;
	padding-left: 30px;
    margin: 22px 0;
}
.modalLogin__closeWrapper{
	padding-left: 34px;
	display: flex;
	font-size: 12px;
}
.modalLogin__closeButton{
	width: 26px;
	height: 26px;
	background-color: #ff0100;
	border-radius: 46%;
	margin-left: 8px;
	position: relative;
	bottom: 9px;
	border: none;
	font-family: "verdana";
	font-weight: 700;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}
.modalLogin__main{
	width: 350px;
	margin: 0 auto;
	padding-top: 50px;
	font-size: 23px;
}
.modalLogin__mainInput{
	width: 315px;
	height: 45px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
    padding: 0 30px;
}

.modalLogin__mainBtn{
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
    background-image: url("../img/button-big.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: 50% 50%;
    padding: 22px 61px;
    color: #454338;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    display: inline-block;
    position: relative;
    left: 80px;
    /*transition: all 150ms ease-in-out;*/
    width: 200px;
    padding-left: 25px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

.modalLogin__mainText{
	font-size: 15px;
	font-weight:  400;
	color: grey;
	font-family: "verdana";
}

.modalLogin__mainArrow{
	z-index: 10;
	position: relative;
	top: 4px;
	left: 33px;
	width: 20px;
	height: 15px;
	cursor: pointer;
}

#basic-modal-content {
    display: none;
}

/* Overlay */

#simplemodal-overlay {
    background-color: #000;
}

/* Container */

#simplemodal-container {
    height: 360px;
    width: 600px;
    color: #bbb;
    background-color: white;
    border: 4px solid white;
    padding: 12px;
}

#simplemodal-container .simplemodal-data {
    padding: 8px;
}

#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #bbb;
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 6px 6px;
}

#simplemodal-container a {
    color: #ddd;
}

#simplemodal-container a.modalCloseImg {
    background: url(../img/basic/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}

#simplemodal-container h3 {
    color: #84b8d9;
}