.profile-wrap {
	position: relative;
	padding: 0px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, .14);
}
#profile-list-wrapper {
    padding: 40px;
}
.profile-list-item-date_wrapperLine {
	display: flex;
	align-items: center;
	.profile-list-item-date-break {
		opacity: 1 !important;
	}
}
.profile-data-new-time_wrapper {
	display: flex;
	align-items: center;
	.profile-data-new-time {
		position: relative !important;
		left: unset !important;
		margin: unset !important;
	}
	.profile-list-item-date-break {

	}
}
.profile-list-item-date {
	&:not([data-mode="save"]) {
		.profile-list-item-date-break {
			opacity: .3;
		}
	}
}
.profile-list-item-date-break {
	width: 20px;
    height: 6px;
    background: #000;
    border-radius: 3px;
	margin: 0px 5px 4px 5px;
}
.profile-data-button {
	width: 197px;
	height: 49px;
	padding: 0;
	text-align: center;
	font-family: inherit;
	font-size: 14px;
	line-height: 49px;
	color: inherit;
}
.profile-list-item {
	// position: relative;
	padding: 50px 0;
    border-top: 2px solid #eaeaea;

	&:first-child {
		border: none;
	}

	&:not([data-count]) {
		.profile-list-item-date-time,
		.profile-list-item-total-footer {
			display: none;
		}
	}

	&[data-mode] {
		.profile-list-item-desc {
			&::before {
				content: "";
				opacity: .75;
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #fff;
			}
		}

		.profile-list-item-date-time_change {
			display: none;
		}
	}

	&:not([data-mode]) {
		.profile-list-item-date-slider-wrapper {
			display: none;
		}
	}

	&[data-full] {
		.profile-list-item-add {
			display: none;
		}
	}
}

.profile-list-item-desc {
	position: relative;
}
.profile-list-item-date {
	&:not([data-mode="save"]) {
		.profile-data-button {
			&.button_save {
				display: none;
			}
		}
		.profile-data-new-time {
			opacity: .3;
		}
	}
}
.profile-list-item-date-time {
	position: relative;
}
.profile-list-item-day-title {
	margin-bottom: 10px;
	font-size: 28px;
}
.profile-list-item-date-title {
	display: block;
	margin: 0 0 12px;
	color: #333;
}
.profile-list-item-date-time_current {
	// display: block;
	font-size: 2em;
}
.profile-list-item-date-time_change {
	display: inline-block;
	border-bottom: 1px dashed #000;
	color: #999;
	cursor: pointer;
	transition: .2s;

	&:hover {
		color: #000;
	}
}

// Слайдер
.profile-list-item-date-slider-wrapper {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 800px;
	margin: 10px 0 0;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);

	.profile-data-button-list {
		text-align: right;
	}
	.profile-data-button {
		margin: 20px 0 0;

		&.button_save {
			margin-right: 20px;
		}
	}
	.profile-data-new-time {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 20px 20px;
		font-size: 2em;
	}
}
.profile-list-item-date-list {
	// position: relative;
	// height: 30px;
	position: absolute;
	z-index: 5;
	top: 27px;
	right: 0;
	// bottom: 0;
	left: 0;
	pointer-events: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	.range-interval-item {
		position: absolute;
		top: 0;
		padding: 10px 0 0;
		text-align: center;
		transform: translate(-50%, 0);

		// .range-interval-item-value {
		// 	display: block;
		// 	position: relative;
		// 	transition: .3s;
		// }

		// &:hover {
		// 	.range-interval-item-value {
		// 		transform: scale(1.5, 1.5);
		// 	}
		// }

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 2px;
			height: 10px;
			margin-left: -1px;
		}

		&.range_hours {
			&::before {
				height: 10px;
				background: #000;
			}
		}

		&.range_minutes {
			// opacity: 0;

			.range-interval-item-value {
				display: none;
			}
			&::before {
				height: 6px;
				background: #999;
			}
		}
	}
}
.profile-list-item-date-slider {
	position: relative;
	// z-index: 1;
	height: auto;
	// margin: 30px 40px 0 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	// background: #f0f0f0;
	background: transparent;

	.noUi-base {
		height: 60px;

		&::before {
			content: "";
			position: absolute;
			top: 9px;
			right: 0;
			left: 0;
			height: 2px;
			border-radius: 1px;
			background: #000;
		}
	}
	.noUi-connects {
		border-radius: 0;
	}
	.noUi-origin {
		top: 10px;
	}
	.noUi-handle {
		top: -9px;
		width: 20px;
		height: 20px;
		right: -10px !important;
		left: auto !important;
		border: 0;
		border-radius: 50%;
		// background: transparent;
		background: #333;
		box-shadow: 0 0 4px rgba(0, 0, 0, .3);

		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;

		&:active { 
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
		&::before,
		&::after {
			content: none;
		}
		&::before {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			width: 2px;
			height: 6px;
			margin: auto;
			background: #000;
		}
		// &::after {
		// 	content: "";
		// 	top: 100%;
		// 	left: 0;
		// 	width: 0;
		// 	height: 0;
		// 	border-top: 8px solid #000;
		// 	border-right: 6px solid transparent;
		// 	border-left: 6px solid transparent;
		// 	background: transparent;
		// }
	}
}

.profile-list-item-wrapper {

}

// Пролукт
.katalog-table-item {
	// margin-bottom: 20px;
	// padding-bottom: 20px;
	border-bottom: 1px solid #cecccc;
}
.katalog-table-item-image {
	text-align: center;
	font-size: 0;

	img {
		max-width: 75px;
		max-height: 100px;
	}
}
.katalog-table-item-title {
	font-size: 1.25em;
}
.katalog-table-item-count-price,
.katalog-table-item-count-summ {
	&::after {
		content: " " attr(data-end);
	}
}
.katalog-table-item-count-number {
	padding: 30px 0;

	input {
		padding: 8px 0 6px;
		border: 0;
		text-align: center;
		font: inherit;
	}

	.jq-number {
		padding: 0;
	}
	.jq-number__field {
		width: 40px;
		border: 0 !important;
		box-shadow: 0px 0px 0px transparent;
	}
	.jq-number__spin {
		left: 0;
		right: 0;
		width: 22px;
		height: 22px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		background: #ddd;
		border: 0;
		box-shadow: 0px 0px 4px #ddd;

		&::after {
			border: 0 !important;
			text-shadow: 0px 0px 4px #fff;
		}

		&.minus {
			bottom: -20px;

			&::after {
				content: '-';
				top: 3px;
				left: 7px;
			}
		}

		&.plus {
			top: -20px;

			&::after {
				content: '+';
				top: 3px;
				left: 6px;
			}
		}
	}
}
.katalog-table-item-delete {
	// &::before {
	// 	content: "";
	// 	display: block;
	// 	padding: 100% 0 0;
	// }

	.katalog-table-item-delete-button {
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 1px;
			height: 20px;
			margin: auto;
			background: #000;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}
.profile-list-item-total-footer {
	padding: 20px 0;

	.button {
		padding: 22px 65px;
	}
	.profile-list-item-total-footer-summ {
		font-size: 1.25em;

		&::before,
		&::after {
			font-size: 1rem;
		}
		&::before {
			content: attr(data-start) " ";
		}
		&::after {
			content: " " attr(data-end);
		}
	}
}
.profile-list-item-add {
	overflow: hidden;
	position: relative;
	padding: 20px;
	border: 2px dashed #E4DD7E;
	border-radius: 5px;
	text-align: center;
	text-transform: lowercase;
	cursor: pointer;
	transition: 150ms ease-in-out;

	&::before {
		content: "+ "
	}

	&:hover {
		border-style: solid;
		border-color: #E4DD7E;
		background: #E4DD7E;
	}
}

// Попап
.popup-products {
	display: none;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px;
	background: rgba(0, 0, 0, .5);
}
.popup-products-inner {
	position: relative;
	margin: auto;
	background: #fff;
}
.popup-products-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 1px;
		height: 20px;
		margin: auto;
		background: #000;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
.popup-products-title {
	// margin: 0 0 20px;
	padding: 20px 0;
	text-align: center;
	font-size: 2em;
	border-bottom: 1px solid #999;

	// .popup-products-day-name {
	// 	text-transform: lowercase;
	// }
}
.always-in-cart {
	height: 63px;
	margin: 20px 0;
	text-align: center;
	font-size: 1.25em;
	line-height: 63px;
	color: #396;
}
.katalog-item {
	&[data-selected] {
		.add-to-cart {
			display: none;
		}
	}

	&:not([data-selected]) {
		.always-in-cart {
			display: none;
		}
	}
}

.popup-products-list-wrapper {
	position: relative;

	.katalog-wrap {
		width: 400px;
		white-space: nowrap;
	}
	.katalog-item {
		display: inline-block;
		padding: 0 40px;
		white-space: normal;

		&::before {
			content: none;
		}
	}
	.katalog-item-image {
		margin: 0 0 20px;
	}
	.popup-arrow {
		position: absolute;
		top: 0;
		width: 30px;
		height: 40px;
		margin: 50% 0 0;
		border-radius: 0;
		background: transparent;
		box-shadow: none;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			width: 1px;
			height: 50%;
			background: #000;
		}
		&::before {
			top: 0;
			transform-origin: 50% 100%;
		}
		&::after {
			bottom: 0;
			transform-origin: 50% 0;
		}

		&.arrow-prev {
			left: 0;

			&::before {
				transform: rotate(30deg);
			}
			&::after {
				transform: rotate(-30deg);
			}
		}
		&.arrow-next {
			right: 0;
			left: auto;

			&::before {
				transform: rotate(-30deg);
			}
			&::after {
				transform: rotate(30deg);
			}
		}
	}
}

html[data-mode="popup"] {
	overflow: hidden;

	.popup-products {
		display: flex;
	}
}

// Profile-data

.profile-data-form {
	.profile-data-field-wrapper {
		display: block;
		width: 100%;
	}
	.profile-data-item {
		display: block;
		position: relative;

        input[disabled],
        input[readonly]{
            border-bottom-color: transparent !important;
            color: #d2d2d2 !important;
        }
		input {
			transition: .2s;

			&[type="password"],
			&[type="text"],
			&[type="tel"],
			&[type="email"] {
				width: 100%;
				border-bottom: 2px solid #d2d2d2;
				border-radius: 0px;
				padding: 6px 0;
			}
		}
		.profile-data-form-title {
			display: block;
			margin: 0 0 4px;
			color: #777;
		}
		.field-error-wrapper {
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			// display: block;
			// margin: 4px 0 0;
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #f30;
		}
	}

	&:not([data-mode]) {
		.profile-data-item {
			input {
				&[type="password"],
				&[type="text"],
				&[type="tel"],
				&[type="email"] {
					color: rgba(0, 0, 0, .5);
				}
			}
		}
		.profile-data-button {
			&.button_edit {
				&::before {
					content: attr(data-unactive);
				}
			}
			&.button_reset {
				display: none;
			}
		}
	}

	&[data-mode] {
		.profile-data-item {
			input {
				&[type="text"],
				&[type="tel"],
				&[type="email"] {
					border-bottom-color: transparent;
				}

				&[type="text"]:focus,
				&[type="tel"]:focus,
				&[type="email"]:focus {
					border-bottom-color: #000;
				}
			}
		}

		&[data-mode="edit"] {
			.profile-data-button {
				&.button_edit {
					display: none;
				}
			}
		}

		&[data-mode="save"] {
			.profile-data-button {
				&.button_edit {
					display: inline-block;

					&::before {
						content: attr(data-save);
					}
				}
			}
		}
	}
}